.details__item {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $default-white;

  &--tours {
    line-height: 12px;
  }
}

.details__item-span {
  display: flex;
  align-items: center;
  gap: 12.5px;
}

.details__item-span::before {
  content: "";
  width: 11px;
  height: 11px;
  background-size: cover;
  background-repeat: no-repeat;
}

.details__item--tours .details__item-span--moon::before {
  width: 18px;
  height: 18px;
}

.details__item-span--moon::before {
  background-image: url("../../img/moon.svg");
}

.details__item-span--level::before {
  background-image: url("../../img/level.svg");
}

.details__item-span--sun::before {
  width: 20px;
  height: 20px;
  background-image: url("../../img/sun.svg");
}
