.instructors {
  position: relative;
}

.instructors__title-shadow {
  margin: 0 0 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -12px;
  }
}

.instructors__swiper {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.instructors__swiper-buttons {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -3px;
    right: -10px;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    top: -4px;
    right: -10px;
  }
}
