.nav {
  background-color: $navy-blue;
}

.nav__list {
  @include list-reset;

  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0 auto;
  padding: 15px 15px 50px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 35px 45px 70px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 0;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
}

.nav__link {
  @include link-style;

  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: $default-white;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-weight: 400;
  }
}
