.tours {
  background-image: url('../../img/clouds@1x.png');
  background-repeat: no-repeat;
  background-position: -700% 10%;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.tours__container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.tours__swiper {
  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.tours__swiper-buttons {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 60px;
    right: 35px;
  }

  @media (min-width: $desktop-width) {
    top: 120px;
    right: 110px;
  }
}

.tours__img {
  width: 100%;
}

.tours__card-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;

  @media (min-width: $tablet-width) {
    bottom: 11px
  }
}

.tours__card-title {
  margin: -11px 0 11px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: $default-white;
  order: 1;

  @media (min-width: $tablet-width) {
    margin: -13px 0 12px;
  }

  @media (min-width: $desktop-width) {
    width: 235px;
  }
}

.tours__card-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  order: 0;
}

.tours__card-location {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-right: 5px;
}

.tours__card-location-span {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tours__card-location-span::before {
  content: "";
  width: 14px;
  height: 12px;
  background-image: url("../../img/pin.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tours__details,
.tours__features-list,
.tours__features-sublist {
  @include list-reset;
}

.tours__details {
  display: inline-flex;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.tours__features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 2;
}

.tours__features-item {
  color: $default-white;
}

.tours__features-title {
  font-weight: 300;
  margin-bottom: 7px;
  font-size: $font-mini;
  line-height: $font-mini;
}

.tours__features-description {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  &--stars {
    display: flex;
    gap: 1.8px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}

.tours__link-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.tours__link {
  @include link-style;

  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.4px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.tours__link::after {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid $default-black;
  border-bottom: 2px solid $default-black;
  transform: rotate(-45deg);
}

.tours__star {
  fill: none;
  stroke: $default-white;
}
