*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // margin: 0 auto;
  // position: relative;
  font-family: $font-page;
  color: $elephant;
  font-weight: 400;
  font-size: $font-mini;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  @media (min-width: $tablet-width) {
    font-size: $font-small;

    background-image: url('../../img/clouds-2@1x.png');
    background-repeat: no-repeat;
    background-position: 205% 18.5%;
    background-size: 602px 1630px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-medium;
    background-image: url('../../img/clouds-2@1x.png');
    background-position: 100% 15.5%;
  }
}

.page-body.header__nav.active {
  position: fixed;
}

.page-body::-webkit-scrollbar {
  width: 0;
}

@media (width > $desktop-width) {
  body {
    overflow-x: hidden;
  }
}

main {
  flex: 1;
}

img {
  object-fit: cover;
  vertical-align: top;
}
