// *font-family* //
$font-page: "Montserrat", "Arial", sans-serif;
// $font-second: "Alumni Sans", "Arial", sans-serif;

// *font-size* //
$font-mini: 12px;
$font-small: 14px;
$font-medium: 16px;

// *colors* //
$elephant : #2d383f;
$default-black: #000000;
$default-white: #ffffff;
$navy-blue: #0266c1;

// *media-width* //
$tablet-width: 768px;
$desktop-width: 1440px;
